<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
      <add key="MerchantID" value="003503902913105" />
      <add key="Password" value="xyz" />
      <add key="MPSWSPURL" value="https://w1.mercurycert.net/ws/ws.asmx" />
      <add key="LoggingLocation" value="c:\log\thisiscool" />
    </appSettings>
      
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://w1.mercurycert.net/ws/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsSoap" contract="MPSWebService.wsSoap"
                name="wsSoap" />
        </client>
    </system.serviceModel>
</configuration>